<footer class="text-black py-10 border-t border-gray-300">
  <div class="container mx-auto max-w-screen-xl">
    <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
      <!-- column1 -->
      <div class="space-y-4">
        <img
          src="../../../assets/images/final.jpg"
          alt="eBay Logo"
          class="h-12 mr-40 rounded-full"
        />
        <p class="text-sm text-gray-500">
          Need to help for your dream Career? trust us. With Lesson, study
          becomes a lot easier with us.
        </p>
        <div class="flex space-x-3">
          <a href="#!">
            <img
              src="../../../assets/icons/Facebook.svg"
              alt="facebook"
              class="w-6 h-6"
            />
          </a>
          <a href="#!">
            <img
              src="../../../assets/icons/Linkedin.svg"
              alt="linkedin"
              class="w-6 h-6"
            />
          </a>
          <a href="#!">
            <img
              src="../../../assets/icons/Instagram.svg"
              alt="instagram"
              class="w-6 h-6"
            />
          </a>
        </div>
      </div>
      <!-- column2 -->
      <div>
        <h3 class="text-xl font-semibold mb-4">Company</h3>
        <ul class="text-sm space-y-2">
          <li>
            <a href="#!" class="text-gray-500 hover:underline">About Us</a>
          </li>
          <li>
            <a href="#!" class="text-gray-500 hover:underline">Features</a>
          </li>
          <li>
            <a href="#!" class="text-gray-500 hover:underline">Our Pricing</a>
          </li>
          <li>
            <a href="#!" class="text-gray-500 hover:underline">Latest News</a>
          </li>
        </ul>
      </div>
      <!-- column3 -->
      <div>
        <h3 class="text-xl font-semibold mb-4">Support</h3>
        <ul class="text-sm space-y-2">
          <li>
            <a href="#!" class="text-gray-500 hover:underline">FAQ’s</a>
          </li>
          <li>
            <a href="#!" class="text-gray-500 hover:underline"
              >Terms & Conditions</a
            >
          </li>
          <li>
            <a href="#!" class="text-gray-500 hover:underline"
              >Privacy Policy</a
            >
          </li>
          <li>
            <a href="#!" class="text-gray-500 hover:underline">Contact Us</a>
          </li>
        </ul>
      </div>
      <!-- column4 -->
      <div>
        <h3 class="text-xl font-semibold mb-4">Address</h3>
        <ul class="text-sm space-y-2">
          <li>
            <a href="#!" class="text-gray-500 hover:underline">
              <strong>Location:</strong> 27 Division St, New York, NY 10002, USA
            </a>
          </li>
          <li>
            <a href="#!" class="text-gray-500 hover:underline"
              ><strong>Email:</strong> email&#64;gmail.com</a
            >
          </li>
          <li>
            <a href="#!" class="text-gray-500 hover:underline"
              ><strong>Phone:</strong> + 000 1234 567 890</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="mt-8 text-center">
      <p class="text-gray-600">
        Copyright ©2024 webdesign.gdn All rights reserved
      </p>
    </div>
  </div>
</footer>
