<app-header></app-header>
<div class="container mx-auto min-h-screen max-w-screen-xl">
  <!-- list-categories -->
  <div class="list-categories z-20 relative">

    <ul class="flex flex-wrap justify-center font-sans">
      @for (category of categories; track category.name) {
      <li
        class="px-2 py-2 border border-gray-500 group flex-shrink-0"
        (click)="onCategoryClick(category)"
      >
        <div
          class="cursor-pointer hover:underline hover:text-blue-600"
          (mouseover)="getSubcategories(category.id)"
        >
          {{ category.name }}
        </div>
      </li>

      }
    </ul>
  </div>
  <!-- baner -->
  <!--  2-->
  <div class="banner relative w-full overflow-hidden">
    <div class="w-full">
      <ul
        class="flex transition-transform duration-1000 ease-in-out"
        [style.transform]="'translateX(-' + currentSlide * 100 + '%)'"
      >
        @for ( image of images; track image; ) {
        <li class="w-full flex-shrink-0">
          <a href="#" class="block w-full">
            <img
              class="object-cover h-80 w-full rounded-md"
              [src]="image"
              alt="Banner Image"
            />
          </a>
        </li>
        }
      </ul>

      <button
        (click)="prevSlide()"
        class="absolute left-0 top-1/2 transform -translate-y-1/2 bg-black bg-opacity-50 text-white px-4 py-2 rounded-full z-10 transition-transform duration-500 ease-in-out"
      >
        <svg
          class="h-6 w-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M15 19l-7-7 7-7"
          ></path>
        </svg>
      </button>

      <button
        (click)="nextSlide()"
        class="absolute right-0 top-1/2 transform -translate-y-1/2 bg-black bg-opacity-50 text-white px-4 py-2 rounded-full z-10 transition-transform duration-500 ease-in-out"
      >
        <svg
          class="h-6 w-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5l7 7-7 7"
          ></path>
        </svg>
      </button>
    </div>
  </div>


  <div class=" mt-5">
    <h2 class="text-2xl font-bold">Your Recently Viewed Items</h2>
  </div>
</div>
<app-footer></app-footer>
