<app-header></app-header>
<div
  class="container mt-3 mb-6 mx-auto min-h-screen max-w-screen-xl flex flex-col md:flex-row"
>
  <!-- Filter Panel -->
  <div class="filter-panel w-full md:w-1/4 mb-6 md:mb-0">
    <div class="category-list">
      <a href="" class="flex text-xl font-bold items-center">
        <svg
          class="mr-2"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 50 50"
          width="28px"
          height="28px"
        >
          <path
            d="M 5 8 A 2.0002 2.0002 0 1 0 5 12 L 45 12 A 2.0002 2.0002 0 1 0 45 8 L 5 8 z M 5 23 A 2.0002 2.0002 0 1 0 5 27 L 45 27 A 2.0002 2.0002 0 1 0 45 23 L 5 23 z M 5 38 A 2.0002 2.0002 0 1 0 5 42 L 45 42 A 2.0002 2.0002 0 1 0 45 38 L 5 38 z"
          />
        </svg>
        All Subcategories
      </a>
      <ul class="mt-6 ml-8 space-y-4">
        @for (subcategory of subcategories; track subcategory.name; let index = $index) {
          @if(index == 0) {
            <li
              class="font-medium cursor-pointer"
              [class.text-red-500]="currentCategory === subcategory.category.name"
              (click)="setActive(subcategory.category.name)"
              (click)="onCategoryClick(subcategory)"
            >
              {{ subcategory.category.name }}
            </li>
          }
            <li
              class="ml-3 cursor-pointer"
              [class.text-red-500]="currentCategory === subcategory.name"
              (click)="setActive(subcategory.name)"
              (click)="onSubcategoryClick(subcategory)"
            >
              {{ subcategory.name }}
            </li>
        }
      </ul>
      
    </div>
    <div class="search-filter mt-2">
      <div class="flex text-xl font-bold items-center">
        <img src="../../../assets/icons/filter.png" alt="" />
        Search Filter
      </div>
      <ul class="mt-6 ml-8 space-y-4">
        <li>Nơi bán</li>
        <li>Thương hiệu</li>
      </ul>
    </div>
  </div>
  <!-- Main Content -->
  <div role="main" class="w-full">
    <section class="items-result">
      <fieldset
        class="p-4 mb-2 border border-gray-300 rounded w-full flex flex-col sm:flex-row"
      >
        <div class="font-bold py-2 px-4 mr-8">Sorted by</div>
        <div>
          <section
            class="flex flex-col sm:flex-row space-y-4 sm:space-y-0 sm:space-x-4"
          >
            @for(button of buttons; track button; let index = $index) {
            <button
              class="py-2 px-4 text-center"
              [class]="{
                'bg-red-400': activeIndex === index,
                'bg-gray-200': activeIndex !== index
              }"
              (click)="setActiveBT(index)"
            >
              <span>{{ button.label }}</span>
            </button>
            }
          </section>
        </div>
      </fieldset>
    </section>
    <ul
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6"
    >
    @for(product of products ; track product.id){
      <li
        class="border p-4 rounded-lg shadow-lg transition transform hover:-translate-y-1"
        (click)="onProductClick(product)"
      >
      <div class="flex flex-col h-full">
        <img [src]="product.url" alt="Product Image" class="w-full h-48 object-cover mb-4 rounded">
        <h3 class="product-name text-base font-medium mb-2 line-clamp-2 flex-grow">{{ product.name }}</h3>
        <!-- <p class="product-description text-gray-700 mb-2  overflow-hidden" >
          {{ product.description }}
        </p> -->
        <p class="product-price text-red-600 font-semibold">Giá: {{ formatPrice(product.price) }}

        </p>
      </div>
      
      </li>
    }
    </ul>
  </div>
</div>
<app-footer></app-footer>
