@font-face {
    font-family: 'Google Sans';
    src: url('https://fonts.gstatic.com/s/googlesans/v58/4Ua_rENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iqcsih3SAyH6cAwhX9RFD48TE63OOYKtrw2IJlqpyw.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  